<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New note</title>
</head>
<body>
    <div class="create-note content">
        <form action="/notes" method="post">
            <label for="note">enter note:</label>
            <textarea name="note" id="node" required></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>